<!-- The Modal -->
<div id="myModal" class="modal" onclick="this.style.display='none'">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script type="text/javascript">

function setModal(element) {
  // Remove #center 
  document.getElementById("img01").src = (element.src).split("#center")[0];
  document.getElementById("caption").innerHTML = element.alt;
  document.getElementById("myModal").style.display = "block";
}

const postContent = document.querySelector(".post-content");
postContent.onclick = e => {
  let clickElement = e.target;

  if (clickElement.tagName == "IMG") {
    setModal(clickElement);
  }
}

</script>
